<ons-toolbar [attr.modifier]="modifier">
  <div class="left" (click)="onCloseClicked()"><ons-toolbar-button><ons-icon icon="fa-backward"></ons-icon></ons-toolbar-button></div>
  <div class="center">利用規約</div>
</ons-toolbar>

<div class="pageContent" (swiperight)="onCloseClicked()">
  <div class="h3">制定：2019年4月1日</div>
  <p>本規約は当運営（以下「甲」）が「お薬手帳レコード」と称するアプリケーション（以下「本アプリケーション」といいます）の利用条件を定めるものです。 ユーザー（以下「乙」）は、本規約に従い本アプリケーションを利用するものとします。乙は本アプリケーションを利用することにより本規約の全ての条件に同意したものと看做されます。（未成年の方がご利用になる場合には、親権者の方に事前にご承諾いただき、ご一緒にご利用ください。）</p>

  <div class="h4">第１条（本サービスの内容及び本規約等の変更）</div>
  <ol class="counterList">
    <li>甲は、随時本サービスの内容及び名称並びに本規約を変更することができるものとします。</li>
    <li>甲は、前項に定める変更を行う場合、本アプリケーション提供サイトへの掲載、その他甲が適当と判断する方法にて変更を乙に告知するものとします。</li>
    <li>前項に基づき、変更を告知した日から甲が定める期間（定めがない場合は告知の日から1週間）以降も引き続き本アプリケーションを利用する乙は当該変更に同意したものとみなされます。</li>
  </ol>

  <div class="h4">第２条（利用環境の整備）</div>
  <ol class="counterList">
    <li>乙は、本アプリケーションを利用するために必要なあらゆる機器及び通信手段を自己の責任と費用において準備するものとします。</li>
    <li>甲は前項に定める乙の利用環境について一切関与せず、また一切の責任を負いません。</li>
  </ol>

  <div class="h4">第３条（個人情報）</div>
  <p>乙が甲へ本サービスに関連した問い合わせ等の連絡を行うことを必要とする場合、本アプリケーション提供サイト上において指定する連絡先に連絡するものとします。甲が当該問い合わせ対応を行う際に、乙から受領した電子メールアドレスを含む個人情報について、甲は、甲の「個人情報保護方針」に従い、管理します。 また処方データ等の情報において本会が行う統計解析などに乙の情報を活用する場合がありますが、その情報提供に本アプリケーションを利用する乙は同意したものとします。</p>

  <div class="h4">第４条（乙の責任）</div>
  <ol class="counterList">
    <li>乙は、自己の責任において本アプリケーションを利用するものとします。甲は、乙または第三者に対して、本アプリケーションの内容及び本アプリケーションを通じて得られる情報の完全性、正確性、確実性、有用性、瑕疵がないこと、誤りがないこと等一切の保証をしません。</li>
    <li>乙が本アプリケーションの利用により第三者に対し損害を与えた場合、乙は自己の費用と責任でこれを解決し、甲に如何なる損害も生ぜしめないものとします。</li>
    <li>甲は、本アプリケーションの提供により生じる損害及び本規約に従って乙又は甲が行った行為に起因する損害（事業の変更、中断、終了等を含むがこれに限られない）について、乙に対し、一切責任を負わないものとします。</li>
  </ol>

  <div class="h4">第５条（禁止事項）</div>
  <ol class="counterList">
    <li>乙は、本アプリケーションの利用にあたって、以下の各号の行為又はそのおそれがある行為を行ってはならないものとします。
      <ol class="counterList">
        <li>甲もしくは第三者の著作権を含む一切の知的財産権を侵害する行為。</li>
        <li>甲もしくは第三者の財産、プライバシーもしくは肖像権を侵害する行為。</li>
        <li>甲もしくは第三者を不当に差別もしくは誹謗中傷し、第三者への不当な差別を助長し、又はその名誉もしくは信用を毀損する行為。</li>
        <li>本アプリケーションを違法な目的で利用する行為。</li>
        <li>意図的に誤情報や有害なコンピュータプログラム等を送信または掲載する行為。</li>
        <li>本アプリケーション、その他本会の事業運営に支障をきたすおそれのある行為。</li>
        <li>甲の事前承認を得ることなく、本アプリケーションを通じたまたは本アプリケーションに関連する営利を目的とする行為。</li>
        <li>法令、本規約若しくは公序良俗に反する行為、本会もしくは第三者に不利益または損害を与える行為。</li>
        <li>その他前各号に該当するおそれのある行為又はこれに類する行為。</li>
        <li>本アプリケーションの利用に際し、本規約とは別に第三者の規約への同意が必要である場合には、当該第三者の規約に違反する行為。</li>
        <li>その他、本会が不適切と判断する行為。</li>
      </ol>
    </li>
    <li>乙が前項に定める禁止事項に違反した場合、甲は乙に本アプリケーション利用の拒否等の措置をとることがあります。禁止事項違反により、甲が損害を被った場合、乙は甲に対して当該損害を賠償するものとします。</li>
  </ol>

  <div class="h4">第６条（知的財産権等）</div>
  <p>本アプリケーションを構成する素材（文字・写真・映像・音声等）に関する一切の権利は、本アプリケーションを利用して新たに作成された電子版お薬手帳の情報等を除き、甲又は当該権利を有する第三者に帰属します。</p>

  <div class="h4">第７条（本アプリケーションの提供の中断）</div>
  <p>甲は、以下の各号に該当する場合、本アプリケーションの全部又は一部の提供を中断することができ、当該事由に起因して乙又は第三者に損害が発生した場合であっても、一切の責任を負わないものとします。</p>
  <ol class="counterList">
    <li>定期的又は緊急に本アプリケーション提供のためのコンピューターシステムの保守・点検を行う場合。</li>
    <li>火災・停電、天災地変等の非常事態により本アプリケーションの提供が不能又は困難となった場合。</li>
    <li>戦争、内乱、暴動、騒擾、労働争議等により、本アプリケーションの提供が不能又は困難となった場合。</li>
    <li>本アプリケーション提供のためのコンピューターシステムに不良又はコンピュータウイルスの感染等が発生し、もしくは第三者からの不正アクセスが行われたことにより、本アプリケーションを提供できない場合。</li>
    <li>法令等に基づく措置により本アプリケーションが提供できない場合。</li>
    <li>その他、甲がやむを得ないと判断した場合。</li>
  </ol>

  <div class="h4">第８条（本アプリケーションの提供の終了）</div>
  <ol>
    <li>甲は乙に対して何等の責任を負うことなくして、いつでも本アプリケーションの提供を終了することができるものとします。 </li>
  </ol>

  <div class="h4">第９条（分離性）</div>
  <p>本規約のいずれかの条項が無効とされた場合であっても、本規約の他の条項は継続して完全な効力を有するものとします。</p>

  <div class="h4">第１０条（準拠法及び裁判管轄）</div>
  <ol>
    <li>本規約の効力、解釈及び履行については日本法に準拠するものとします。</li>
  </ol>

  <p class="underline">当運営は本業務を行ううえで個人情報を保護することが重大な責務であると考え、以下のとおり個人情報保護方針を定め、個人情報の保護に努めます。</p>

  <div class="h4 center">記</div>

  <p>本会は、個人情報について、関係法令その他の規範及び本会策定にかかる各種規程等の定めるところに従い、本会において業務に従事するスタッフ及び本会の委嘱を受けて本会が保有する個人情報を利用する本会会員に対してその周知・徹底を図り、適切にこれを取り扱います。</p>

  <div class="h5">1. 個人情報の適切な収集、利用、提供、委託</div>
  <ol class="counterList">
    <li>個人情報の収集にあたっては、利用目的を明示した上で必要な範囲の情報を収集し、利用目的を通知または公表し、その範囲内で利用します。
      <ul>
        <li>収集した個人情報は次の場合を除き、第三者に提供または開示することはしません。あらかじめ本人の同意を得た場合</li>
        <li>法令の規定に従い、提供又は開示する場合</li>
        <li>人の生命、身体又は財産の保護のため必要がある場合であって、本人の同意を得ることが困難であるとき。</li>
        <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき。</li>
        <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事業を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務遂行に支障を及ぼすおそれがあるとき。</li>
      </ul>
    </li>
    <li>個人情報を第三者に委託して利用する場合は、当該第三者との間で秘密保持契約を締結した上で提供するなどし、委託先への適切な監督を行います。</li>
  </ol>

  <div class="h5">2．個人情報の安全管理措置</div>
  <p>個人情報への不正アクセス、個人情報の漏えい、滅失、または毀損の予防及び是正のため、安全対策に努めます。</p>

  <div class="h5">3．改善措置</div>
  <p>個人情報の取扱いに関する社会環境の変化に的確に対応するよう努めます。また必要に応じて本方針をはじめ本会の各種規程等につき、変更、修正又は追加を行うなど、運用の改善に努めます。</p>

  <div class="h5">4．開示、訂正請求等への対応</div>
  <p>当運営は、個人情報について本人から開示、訂正、追加または削除、利用停止などの要望があった場合は、合理的な期間、妥当な範囲内でこれに対応いたします。</p>

  <div class="h5">5．苦情の処理</div>
  <p>本会は、個人情報の取扱いに関する苦情に対し、適切に対応します。</p>
</div>
