<ons-toolbar [attr.modifier]="modifier">
  <div class="center">お薬手帳</div>
</ons-toolbar>

<ons-list-item expandable *ngIf="items.length == 0" class="list-item">
  <div class="heading center">
    <div class="heading-container">
      <div class="heading-container__date">2020/01/01 00:00</div>
    </div>
    <span class="heading__memo">
      記録がありません。<br>
      右下の追加アイコンから追加してください。
    </span>
  </div>
</ons-list-item>

<ons-list-item expandable *ngFor="let item of items | orderBy:'date'" class="list-item">
  <div class="heading center">
    <div class="heading-container">
      <div class="heading-container__date">{{item.date | date:'yyyy/MM/dd HH:mm'}}</div>
    </div>
    <span class="heading__memo">{{item.memo}}</span>
  </div>
  <div class="expandable-content">
    <div class="expandable-photo-container">
      <img class="expandable-photo-container__photo" [src]="item.image | cdvfile" (click)="onItemClicked(item)">
      <i class="expandable-photo-container__check-icon far fa-eye"></i>
    </div>
  </div>
</ons-list-item>
