/* Home CSS */
.left-side {
  height: 100%;
  margin-right: 15px;
}

img.thumbnail2 {
  width: 60px;
}

.list_item_title {
  margin-top: 0px;
}
.heading_container {
  width: 96%;
  border-bottom:4px dotted #FF6B2A;
  margin-bottom: 10px;
}
.list-item__num {
  color: #FF6B2A;
  font-weight: bold;
  float: left;
  font-size: 1.2em;
}
.list-item__date {
  color: #FF6B2A;
  font-weight: bold;
  text-align: right;
  font-size: 1.2em;
}
.list-item__date::after{
  content: "";
  clear:both;
}
.expandable-content{
  position: relative;
}
.expandable-content i.fa-eye{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 1.4em;
  color: #fff;
  text-shadow: 1px 1px 4px rgb(0,0,0,60%);
  opacity: 0;
}
.list-item.list-item--expandable.expanded  i.fa-eye{
  opacity: 1.0;
  transition: .2s;
  right: 10px;
  top: 5px;
}
.expandable-content.list-item__expandable-content{
  text-align: center;
}
.expandable-content .img_container{
  display: inline-block;
  position: relative;
}
.list-item__expandable-content img{
  display: block;
  position: relative;
}
/* ---------------------- */

.top-pattern3 {
  width: 100%;
  text-align: center;
}

/* ---------------------- */

.top-left {
  float: left;
}
img.thumbnail {
  width: 100px;
}

.top-right {
  float: left;
  margin-left: 15px;
}

.bottom-center {
  width: 100%;
  background-color: #000000;
  text-align: center;
  clear: left;
  margin-top: 20px;

}
img.big_img {
  width: 100%;
}
